@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;700;800&display=swap');

html {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  background: #000;
  touch-action: pan-y;
  min-height: 100vh;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

section {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

video {
  position: fixed;
  z-index: 0;
  max-width: 100%;
}

section p {
  padding: 0px;
  margin-bottom: 0;
}

.videoclass {
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-dummy {
  max-width: 998px;
  padding: 20px;
  z-index: 1;
}

.scroll-dummy h1 {
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
  font-size: 6vh;
  font-weight: 900;
  line-height: 0.7;
}

.dummy-inside {
  padding: 1vh 10vw 1vw 10vw;
}

h2 {
  line-height: 0.1;
  color: #ffffff50;
  text-align: center;
  margin-bottom: 5vh;
}

.scroll-dummy p,
.scroll-dummy a {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  line-height: 1.4;
}

code {
  font-family: monospace;
  background: #333;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 2px 4px;
}

.blurbackground {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 3vw;
}

.footer {
  z-index: 3;
  text-align: center;
}

.align-center {
  text-align: center;
}

.align-box {
  text-align: justify;
}

.glove-space {
  margin-bottom: 20vh !important;
}

.buttonscontainer {
  display: flex;
  z-index: 2;
}

.btn {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  font-size: 0.7em;
  font-family: 'Syne', sans-serif !important;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}

.footer {
  padding: 10vh 0vh 10vh 0vh;
}

.footer i {
  color: #ffffff;
  font-size: 1.3em;
  padding: 10px;
}

.whodat {
  font-size: 0.7em;
  margin-top: 1vh;
  font-weight: 900;
  text-transform: uppercase;
}

.mobilebtn {
  display: none;
}

.technologies {
  margin: 5vh 0;
}

.technologies ul {
  padding-left: 4vw;
  list-style: none;
}

.technologies ul li {
  font-weight: 700;
  line-height: 1.7;
  font-size: 1.5em;
}

.technologies i {
  font-size: 30px;
  padding: 10px;
}

.scroll-dummy-link {
  display: block;
  margin-top: 67vh !important;
}

@media only screen and (max-width: 600px) {
  .scroll-dummy {
    max-width: 90vw;
  }

  .scroll-dummy h1 {
    font-size: 1.8em;
  }

  .scroll-dummy p {
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .blurbackground {
    padding: 5vw;
  }

  .buttonscontainer {
    font-size: 0.5em;
  }

  .btn {
    flex-grow: 1;
  }

  h2 {
    font-size: 0.8em;
  }

  .desktopbtn {

    display: none;
  }

  .mobilebtn {
    display: block;
  }

  .technologies ul {
    padding-left: 2px;
  }

  .technologies ul li {
    font-size: 1em;
  }

  .scroll-dummy-link {
    margin-top: 52vh !important;
  }

}